.app-document--video {
  max-width: none;
  padding: 15px;
}

.app-document__video {
  display: block;
  width: 100%;
  background: govuk-colour("black");
}

.app-video-annotation-actions {
  margin-top: govuk-spacing(4);
}

.app-annotation-card__timecode {
  font-weight: normal;
  margin-left: govuk-spacing(1);
}
